<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">    
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  
  
  <title>Train TweetMap.live for location recognition!</title>
  
  
  <style>
    body {
      padding-top: 5rem;
    }
    .starter-template {
      padding: 3rem 1.5rem;
    }
    .tweet-alt-text {  max-height: initial;
      overflow: scroll;
      font-size: 6pt;
    }
    
  </style>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
      
      return t;
    }(document, "script", "twitter-wjs"));</script>
    
    
    
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TweetMap.live!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li><a href="/train" class="active">Train our model!</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/abouttweetmap">About TweetMap</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    
    
    
    
    
    
    <div class="container">
      <div class="starter-template">
        <div class="row">
          <h1>Help us recognize tweets containing a location!</h1>
          <p >Please tag whether the tweets shown below contain a location and are about Hurricane Irma.<br> This allows our machine-learning model to better understand which tweets should be avoided.</p>
          <p>Check the box next to any tweet that contains some kind of location information (suburb,island, place of interest) and click submit.<br> Don't include tweets containing irrelevant location information such as realtor listings.</p>
        </div>
        <form method=POST action="submit">
          <input type="hidden" name="ntweets" value="{{ ntweets }}"/>
          
          {% for tweet in tweets %}
          <div class="row ">
            
            <div class="col col-md-12">
              <div style="" id="{{ tweet['index'] }}">
              </div>  
              
            </div>
          </div>
          <div class="row">
            
            <div class="col-xs-6">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" name="check-{{ loop.index0 }}" type="checkbox" value="">
                  This tweet contains a location
                </label>
                
              </div>
              <input type="hidden" name="tweetid-{{ loop.index0 }}" value="{{ tweet['index'] }}"/>
            </div>
            <div class="col-xs-6">
              <div class="tweet-alt-text">{{ tweet['tweet'] }}</div>
              
            </div>
          </div>
          <hr/>
          {% endfor %}
          <p>  <button type="submit" class="btn btn-primary">Submit results</button>
          </p>
        </form>
      </div>
    </div><!-- /.container -->
    
    <script>
      twttr.ready(
      function (twttr) {
        
        {% for tweet in tweets %} 
        twttr.widgets.createTweet(
        "{{ tweet['index'] }}",
        document.getElementById("{{ tweet['index'] }}"),
        {
          theme: 'light'
        }
        );
        {% endfor %}
      });
    </script>
    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      
    </body>
    </html>
    